


body{
     background-color:lightgray;
}

#idDiv1{
     width:600px;
     height:400px;
     background-color:white;
     margin-left:auto;
     margin-right:auto;
     border:1px solid black;
     padding:20px;
}


